body {
    margin:0px;
    padding: 0px;
}

body {
    background: #faf6ed;
    color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.center {
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

form {
    max-width: 160px;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
}

input {
    max-width: 100px;
}
/* 
button {
    width: 100%;
} */